---
import Layout from "../layouts/Layout.astro";

export async function getStaticPaths() {
  const projects = await Astro.glob("../projects/*.md");

  return projects.map((project) => ({
    params: {
      slug: project.frontmatter.slug,
    },
    props: {
      project,
    },
  }));
}

const { frontmatter } = Astro.props.project;

// Destructure frontmatter
const {
  title,
  slug,
  cover_image,
  cover_alt,
  description,
  source,
  url,
  vid,
  tags,
} = frontmatter;
---

<Layout title={title}>
  <section class="py-8">
    <div class="showcase flex flex-col md:flex-row">
      <!-- Project image -->
      <div class="showcase-left rounded-lg">
        <div class="image-overlay">
          <h2 class="project-title text-3xl font-bold md:py-0 sm:py-5 mt-3">
            {title}
          </h2>
        </div>
        <div class="image-wrapper container max-w-md">
          <img
            class="showcase-image"
            src=`/assets/${slug}.jpeg`
            alt={cover_alt}
          />
        </div>
      </div>
      <!-- Project details -->
      <div
        class="showcase-right container flex flex-col justify-evenly mx-auto md:w-[75%] sm:w-auto md:px-9"
      >
        <p class="text-xl font-semi-bold mt-3">
          {description}
        </p>
        <div class="stack-wrapper my-3">
          <p class="font-bold">Built with:</p>
          <ul class="tech-stack flex">
            {tags.map((tag) => <li>{tag}</li>)}
          </ul>
        </div>
        <!-- Project buttons -->
        <div class="btn-wrapper mb-3">
          <a href={source} target="_blank" class="project-btn mr-3">
            View Code</a
          >
          {
            url ? (
              <a href={url} target="_blank" class="project-btn">
                Live Demo
              </a>
              // Opens Modal
            ) : (
              <button
                class="project-btn demo-btn"
                onclick="{my_modal_5.showModal()}"
              >
                View Demo
              </button>
            )
          }
        </div>
      </div>
    </div>
    <!-- Modal -->
    <dialog id="my_modal_5" class="modal modal-middle">
      <form method="dialog" class="modal-box overflow-hidden p-11">
        <!-- Closes modal -->
        <button class="btn btn-circle btn-ghost absolute right-2 top-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            ><path
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M6 18L18 6M6 6l12 12"></path></svg
          >
        </button>
        <!-- Modal content -->
        <div class="container video-wrapper flex items-center justify-around">
          <video class="video rounded-lg" muted playsinline controls>
            <source src=`/assets/${slug}.mp4` type="video/mp4" />
            Your browser does not support the video tag.
          </video>
        </div>
      </form>
    </dialog>
  </section>
</Layout>

<style>
  .showcase-left {
    position: relative;
    overflow: hidden;
  }

  .image-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }

  .project-btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-weight: 600;
    color: #242526;
    border: 3px solid #242526;
    border-radius: 6px;
    text-decoration: none;
  }

  .project-btn:hover {
    color: #1da1f2;
    border: 3px solid #1da1f2;
  }

  ul li:not(:last-child)::after {
    content: "+";
    margin: 0 0.5rem;
    font-weight: 600;
  }

  /* Modal */
  .btn-circle {
    border: none !important;
  }

  .modal-box {
    background-color: #f4f4f4 !important;
  }

  /* Modal landscape */
  @media (orientation: landscape) and (hover: none) and (pointer: coarse) {
    .video {
      width: 50%;
    }
  }
</style>
